APP_NAME='Clean Architecture NestJS'
APP_DESCRIPTION='System using Clean Architecture with NestJS'
API_VERSION=v1
HOST=0.0.0.0
PORT=9000
DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=